# Visual Studio Code config
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# archives
*.zip

# Jupyter Notebook
.ipynb_checkpoints

# saved keras model
keras_model
*.json
*.h5

# tensorboard log
tb_logs


# augmented images
aug_img


# csv
*.csv

